div{
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}
#body{
    font-family: Arial, sans-serif;
    color: #1e1e1a
}
.big-text{
    font-size: 2em;
    color: #333;
}
.medium-text{
    font-size: 1.5em;
    color: #555;
}
.main-title{
    text-shadow: 0cm 0cm 2px #000;
}
